# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# images
*.png

.vs/
Debug/
Mandelbrot/Release/
Mandelbrot/x64/
Mandelbrot/Mandelbrot.vcxproj
Mandelbrot/Mandelbrot.vcxproj.filters
Mandelbrot/Mandelbrot.vcxproj.user
PointChooser/PointChooser.vcxproj
PointChooser/PointChooser.vcxproj.filters
PointChooser/PointChooser.vcxproj.user
*.bmp
PointChooser/Release/
PointChooser/x64/
Release/
*.pgm
*.sln
